<div class="container body-form">
  <div class="fix-footer">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <%= render 'simple_form' %>

        <hr>

        <i class="fas fa-redo"></i> <%= link_to "Back to cocktails", root_path %>
      </div>
    </div>
  </div>
</div>
