.banner-card {
  // color: white;
  // text-align: center;
  height: 350px;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: contain, cover !important;
  // for mobile devices + row and col in html
  display: grid;
  align-items: center;
  margin-bottom: 32px;
  // display: flex;
  // flex-direction: row;
  // align-items: center;
  // justify-content: space-between;
}

.banner-card-content h1 {
  color: white;
  opacity: 0.9;
  font-size: 50px;
  font-weight: 500;
  text-shadow: 1px 1px 3px  rgba(0, 0, 0, 0.3);
}
.banner-card-content p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

.banner-card-center-form {
}
