.banner-card {
  // color: white;
  // text-align: center;
  height: 350px;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: contain, cover !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 32px;
}

.banner-card-content h1 {
  color: white;
  opacity: 0.9;
  font-size: 50px;
  font-weight: 500;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner-card-content p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

.banner-card-center-form {
}
