
.banner-card-icon {
  color: #daea5d;
  // color: #07d9ff;
}

.banner-card-icon:hover {
  color: rgba(0,0,0,0.5);
}

.show-card-dose {
  color: #f900b4;
}
.show-card-dose:hover {
  color: #daea5d;
}

.icon-trash {
  color: #f900b4;
}
.icon-trash:hover {
  color: rgba(0,0,0,0.5);
}
.trash-size {
  font-size: 35px;
}

.back-to-icon-azur {
  color: #07d9ff;
}
